@import "tailwindcss";

:root {
  --background: #f1eee6;
  --foreground: #130b00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #130b00;
    --foreground: #ffff;
  }
}
.stroke {
    -webkit-text-stroke: 0.5px var(--foreground);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.logo {
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}